.card {
    max-width: 37.5rem;
    margin: 1rem;
    background-color: $white;
    border-radius: 0.875rem;
    overflow: hidden;

    @include breakpoints-up(sm) {
        display: flex;
        height: 450px;
    }

    &__product {
        display: block;

        @include breakpoints-up(sm) {
            width: 50%;
        }
        
        &-photo {
            display: block;
            width: 100%;
        }
    }

    &__container {
        padding: 1.625rem 1.5rem 1.5rem;
        background-color: $white;

        @include breakpoints-up(sm) {
            width: 50%;
            padding: 2.125rem 2rem 2rem;
        }
    }

    &__tag {
        margin-bottom: 1.125rem;
        color: $dark-grayish-blue;
        font-size: $font-xs;
        font-weight: 500;
        letter-spacing: 0.3125rem;

        // @include breakpoints-up(md) {
        //     margin-bottom: 1.625rem;
        // }
    }

    &__title {
        margin-bottom: 1.125rem;
        color: $very-dark-blue;
        font-family: "Fraunces";
        font-size: $font-xl;
        font-weight: 700;
        line-height: 1;

        // @include breakpoints-up(md) {
        //     margin-bottom: 2rem;
        // }
    }

    &__desc {
        margin-bottom: 2rem;
        color: $dark-grayish-blue;
        font-size: $font-s;
        font-weight: 500;
        line-height: 1.6;
        
        // @include breakpoints-up(md) {
        //     margin-bottom: 2.25rem;
        // }
    }

    &__price {
        margin-bottom: 1.25rem;

        // @include breakpoints-up(md) {
        //     margin-bottom: 2rem;
        // }

        &--discount {
            margin-right: 1.25rem;
            color: $dark-cyan;
            font-family: "Fraunces";
            font-size: $font-l;
            font-weight: 700;
        }

        &--add {
            color: $dark-grayish-blue;
            font-size: $font-s;
            font-weight: 500;
            text-decoration-line: line-through;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: .875rem;
        padding-bottom: .875rem;
        width: 100%;
        border-radius: 0.5rem;
        background-color: $dark-cyan;
        text-align: center;
        transition: 0.3s;

        &-icon {
            margin-right: 0.625rem;
        }

        &-text {
            display: block;
            padding-top: 0.25rem;
            color: $white;
            font-size: $font-s;
            font-weight: 700;
        }

        &:hover {
            background-color: $very-dark-blue;
        }
    }
}