* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    background-color: $cream;
    font-family: "Montserrat";
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}