@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Fraunces";
    src: url("/assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf") format("truetype");
}

// Color
// Primary
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

//  Neutral

$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Font size
$font-xl : 2.125rem;    // 34px
$font-l : 2rem;         // 32px
$font-s : 0.875rem;     // 14px
$font-xs : 0.75rem;     // 12px